:root {
	--synergy-border: #865e3c66;
	--synergy-border-active: #865e3c;
	--synergy-border-width: 2px;
	--synergy-border-radius: .375rem;
	--synergy-focus-highlight: #865e3c3f;
	--synergy-tab-highlight: #865e3c19;
	--synergy-label: #9d7d61;
	--synergy-label-active: #865e3c;
	--synergy-btn-primary-bg: #9d7d61;
	--synergy-btn-primary-bg-active: #c0ab98;
	--synergy-btn-primary-bg-hover: #865e3c;
	--synergy-btn-bg: #e1dedb;
	--synergy-btn-bg-active: #c8c5c2;
	--synergy-btn-bg-hover: #d9d6d2;
	--synergy-text-color: #63452c;
	--synergy-bg: #f9f7f4;
}

.btn.btn-primary {
	--synergy-text-color: #ffffff;
}