label.cbox {position: relative;}

label.cbox > input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 100;
	margin: 0;
	pointer-events: none;
}

label.cbox > input + * {
	display: grid;
	grid-template-columns: min-content max-content;
	grid-template-areas: "box .";
	align-items: center;
	cursor: pointer;
	gap: 10px;
}

label.cbox > input + *::before {
	content: "";
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	border: var(--synergy-border-width) solid var(--synergy-border);
	transition: background .1s, box-shadow .2s, border-color .1s;
	background: var(--synergy-bg);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	grid-area: box;
}

label.cbox > input:checked + *::before {
	background: var(--synergy-border-active);
	border-color: transparent;
}

label.cbox > input:focus-visible  + *::before {
	outline: 5px solid var(--synergy-focus-highlight);
}

label.cbox > input[type=checkbox] + *::before {
	border-radius: var(--synergy-border-radius);
}

label.cbox > input[type=checkbox] + *::after {
	content: "";
	grid-area: box;
	width: 25%;
	height: 50%;
	border: 0 solid var(--synergy-bg);
	border-width: 0 2px 2px 0;
	margin: auto;
	transform: rotate(45deg);
	z-index: 10;
	top: -3.5%;
	left: 1.5%;
	position: relative;
}

.cbox-row {
	display: flex; gap: 25px; flex-wrap: wrap;
}
