.toggle {
	border: var(--synergy-border-width) solid var(--synergy-border);
	background-color: var(--synergy-bg);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
	border-radius: 100px;
	padding: 3px;
	display: flex;
	max-width: 2.6em;
	height: 1.5em;
	width: 100%;
	position: relative;
}

.toggle input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 100;
	margin: 0;
}

.toggle .indicator {
	transition: all .2s;
	display: flex;
	height: 100%;
}

.toggle .indicator::after {
	transition: background-color .2s;
	margin-left: auto;
	display: inline-block;
	height: 100%;
	aspect-ratio: 1 / 1;
	background-color: var(--synergy-border);
	border-radius: 100%;
	content: "";
}

.toggle input:checked + .indicator {
	flex: 1;
}

.toggle input:checked + .indicator::after {
	background: var(--synergy-border-active);
}

.toggle input:focus-visible + .indicator:after {
	outline: 10px solid var(--synergy-focus-highlight);
}


/* Toggle with label */

.toggle-text {
	display: grid;
	align-items: center;
	gap: 20px;
	grid-template-columns: 1fr 2.6em;
}

.toggle-text label {
	cursor: pointer;
}
